* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // Background image by Jared Evans on Unsplash
  background: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.603)), url(https://images.unsplash.com/photo-1470364798856-7a74180378dc?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1153&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

#chart {
  height: 100% !important;
}

// Footer
.footer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: inline-block;
  align-items: center;
  margin: 0 20px;
}

.footer-letswork {
  display: flex;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: rgba(255, 99, 132, 1);
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  margin: 1%;
}

@media only screen and (max-width: 950px) {
  #chart {
    height: 50% !important;
  }
}
